<p-table [value]="posts" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Titutlo</th>
            <th>Descripcion</th>
            <th>Accion</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-post>
        <tr>
            <td>{{ post.post_id }}</td>
            <td>{{ post.titulo }}</td>
            <td>{{ post.descripcion }}</td>
            <td>ggdgdgf</td>
        </tr>
    </ng-template>
</p-table>